build
*.o
platform/libapp/demo/ini_demo/ak_ini_demo
platform/libmpi/demo/osd_demo/ak_osd_demo
platform/libplat/demo/drv_ptz_demo/ak_drv_ptz_demo
platform/apps/akipc/output/anyka_ipc
platform/apps/ccli/ccli
platform/apps/cmd_serverd/cmd_serverd
platform/apps/daemon/daemon
platform/apps/mmc_test/mmc_test
platform/apps/updater/updater
platform/apps/version/ak_lib_version
platformtform/rootfs/root.sqsh4
platform/rootfs/rootfs/
platform/rootfs/usr.jffs2
platform/rootfs/usr.sqsh4
tools/burntool/burn.ini
tools/burntool/log/
tools/burntool/USBtransc.txt
platform/libapp/demo/dvr_record_demo/ak_dvr_record_demo
platform/libapp/demo/dvr_replay_demo/ak_dvr_replay_demo
platform/libapp/demo/onvif_demo/ak_onvif_demo
platform/libapp/demo/vpss_demo/ak_vpss_demo
platform/libmpi/demo/adec_demo/ak_adec_demo
platform/libmpi/demo/aenc_demo/ak_aenc_demo
platform/libmpi/demo/md_demo/ak_md_demo
platform/libmpi/demo/mt_demo/ak_mt_demo
platform/libmpi/demo/venc_demo/ak_venc_demo
platform/libplat/demo/aec_ex_demo/ak_aec_ex_demo
platform/libplat/demo/ai_demo/ak_ai_demo
platform/libplat/demo/ao_demo/ak_ao_demo
platform/libplat/demo/drv_i2c_demo/ak_drv_i2c_demo
platform/libplat/demo/drv_ir_demo/ak_drv_ir_demo
platform/libplat/demo/drv_pwm_demo/ak_drv_pwm_demo
platform/libplat/demo/drv_wdt_demo/ak_drv_wdt_demo
platform/libplat/demo/tw_demo/ak_tw_demo
platform/libplat/demo/vi_demo/ak_vi_demo
platform/libplat/demo/vpss_demo/effect_demo/ak_effect_demo
platform/libplat/demo/vpss_demo/mask_demo/ak_mask_demo
platform/libplat/demo/vpss_demo/md_demo/ak_vpss_md_demo
platform/libplat/demo/vpss_demo/od_demo/ak_od_demo
platform/rootfs/root.sqsh4

